# 문자열 포메팅

In [51]:
# 숫자
"I eat %d apples." % 3
print('I eat 3 apples.')

I eat 3 apples.

In [2]:
# 문자열
" I eat %s apples." % "five"

' I eat five apples.'

In [3]:
# 변수(숫자)
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [4]:
# 2개 이상의 값
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

# 문자열 포맷 코드

| 코드 | 설명     |
| ---- | -------- |
| `%s` | 문자열   |
| `%c` | 문자     |
| `%d` | 정수형   |
| `%f` | 부동소수 |
| `%o` | 8진법    |
| `%x` | 16진법   |
| `%%` | %        |

In [5]:
# 정수를 %s 출력하기
"I eat %s apples." % 3

'I eat 3 apples.'

In [6]:
# 실수를 %s 출력하기
"I eat %s apples." % 3.234

'I eat 3.234 apples.'

# 포맷 코드와 숫자 함께 사용하기

In [7]:
# 오른쪽으로 정렬
"%10s" % "hi"

'        hi'

In [9]:
# 왼쪽으로 정렬
"%-10s" % "hi"

'hi        '

In [10]:
#소수점
"%0.4f" % 3.14131519

'3.1413'

In [12]:
#소수점이 오른쪽으로 정렬됨
"%10.4f" % 3.134415123

'    3.1344'

# format 함수를 사용한 포매팅

In [15]:
# 숫자
"I eat {0} apples.".format(3)

'I eat 3 apples.'

In [16]:
# 문자
"I eat {0} apples".format("five")

'I eat five apples'

In [17]:
# 변수(숫자)
number = 10
"I eat {0} apples".format(number)

'I eat 10 apples'

In [19]:
# 2개 이상의 값
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [21]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day="three")

'I ate 10 apples. so I was sick for three days.'

In [50]:
a = "hobby"
a.count('b') # 2

a = "Python is the best choice"
a.find('b') # 14
a.find('k') # -1

a = "Life is too short"
a.index('t') # 8
# a.index('k') # ValueError: substring not found 

",".join('abcd') # 'a,b,c,d'
",".join(['a','b','c','d']) # 'a,b,c,d'

a = "hi"
a.upper() # 'HI'

a = "HI"
a.lower() # 'hi'

a = " hi "
a.lstrip() # 'hi '

a = " hi "
a.rstrip() # ' hi'

a = " hi "
a.strip() # 'hi'

a = "Life is too short"
a.replace("Life", "Your leg") # 'Your leg is too short'

a = "Life is too short"
a.split() # ['Life', 'is', 'too', 'short']
b = "a:b:c:d"
b.split(':') # ['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

# 리스트

In [131]:
# 리스트 형태
a = [] # []
b = [1,2,3] # [1,2,3]
c = ['Life', 'is', 'too', 'short'] # ['Life', 'is', 'too', 'short'] 
d = [1, 2, 'Life', 'is'] # [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']] # [1, 2, ['Life', 'is']]

# 리스트 인덱스1
a = [1,2,3]
a[0] # 1
a[0] + a[2] # 4
a[-1] # 3

#리스트 인덱스2
a = [1, 2, 3, ['a', 'b', 'c']]
a[0] # 1
a[3] # ['a', 'b', 'c']
a[3][0] # 'a'
a[-1][0] # 'a'
a[-1][-1] # 'c'
a[-1][1] # 'b'

# 리스트 슬라이싱1
a = [1, 2, 3, 4, 5]
a[0:2] # [1, 2]

# 문자열 슬라이싱
a = "12345"
a[0:2] # '12'
# print(a[0:2]) # 12

# 리스트 슬라이싱2
a = [1, 2, 3, 4, 5]
b = a[:2] # [1, 2]
c = a[2:] # [3, 4, 5]

# 리스트 슬라이싱3
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5] # [3, ['a', 'b', 'c'], 4]
a[3][:2] # ['a', 'b']

# 리스트 더하기
a = [1, 2, 3]
b = [4, 5, 6]
a + b # [1, 2, 3, 4, 5, 6]

# 리스트 곱하기
a = [1, 2, 3]
a * 3 # [1, 2, 3, 1, 2, 3, 1, 2, 3]

# 리스트 길이
a = [1, 2, 3]
len(a) # 3

# 문자열 + 리스트 더하기
a = [1, 2, 3]
# a[2] + "hi" # TypeError: unsupported operand type(s) for +: 'int' and 'str'
str(a[2]) + "hi" # '3hi'

# 리스트 수정
a = [1, 2, 3]
a[2] = 4
a # [1 ,2 ,4]

# 리스트 삭제1
a = [1, 2, 3]
del a[1] 
a #[1, 3]

# 리스트 삭제2
a = [1, 2, 3, 4, 5]
del a[2:] 
a # [1, 2]

# 리스트 요소 추가1
a = [1, 2, 3]
a.append(4)
a # [1, 2, 3, 4]

# 리스트 요소 추가2
a = [1, 2, 3, 4]
a.append([5, 6])
a # [1, 2, 3, 4, [5, 6]]

# 리스트 정렬(숫자)
a = [1, 4, 3, 2]
a.sort()
a # [1, 2, 3, 4]

# 리스트 정렬(문자)
a = ['a', 'c', 'b']
a.sort()
a # ['a', 'b', 'c']

# 리스트 뒤집기
a = ['a', 'b', 'c']
a.reverse()
a # ['c', 'b', 'a']

# 리스트 인덱스 반환
a = [1, 2, 3]
a.index(2) # 1
# a.index(0) # ValueError: 0 is not in list

# 리스트 요소 삽입1
a = [1, 2, 3]
a.insert(0, 4)
a  # [4, 1, 2, 3]

# 리스트 요소 삽입2
a = [1, 2, 3]
a.insert(3, 4)
a  # [1, 2, 3, 4]

# 리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a # [1, 2, 1, 2, 3]
a.remove(3)
a # [1, 2, 1, 2]

# 리스트 요소 제거
a = [1, 2, 3]
a.pop() # 3
a # [1, 2]

# 리스트 요소 개수 세기
a = [1, 2, 3, 1]
a.count(1) # 2

# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
a # [1, 2, 3, 4, 5]
b = [6, 7]
a.extend(b)
a # [1, 2, 3, 4, 5, 6, 7]

a = [1, 2, 3]
a += [4, 5]
a # [1, 2, 3, 4, 5]
b = [6, 7]
a += b
a # [1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

# 튜플

In [152]:
# 튜플
t1 = () # ()
t2 = (1,) # (1,)
t3 = (1, 2, 3) # (1, 2, 3)
t4 = 1, 2, 3 # (1, 2, 3)
t5 = ('a', 'b', ('ab', 'cd')) # ('a', 'b', ('ab', 'cd'))

# 튜플 요소 삭제는 오류 발생
t1 = (1, 2, 'a', 'b')
# del t1[0] # TypeError: 'tuple' object doesn't support item deletion

# 튜플 요소 변경은 오류 발생
t1 = (1, 2, 'a', 'b')
# t1[0] = 'c'# TypeError: 'tuple' object doesn't support item deletion

# 튜플 인덱싱
t1 = (1, 2, 'a', 'b')
t1[0] # 1
t1[3] # 'b'

# 튜플 슬라이싱
t1 = (1, 2, 'a', 'b')
t1[1:] # (2, 'a', 'b')

# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3 # (1, 2, 'a', 'b', 3, 4)

# 튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
t3 # (3, 4, 3, 4, 3, 4)

# 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
len(t1)  # 4

4

# 딕셔너리 자료형

In [202]:
# 딕셔너리
dic = {'name' : 'pey', 'phone' : '010-9999-1234', 'birth' : '1118'}
dic # {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a = {1:'hi'}
a # {1:'hi'}
a = {'a' : [1, 2, 3]}
a # {'a': [1, 2, 3]}

# 딕셔너리 쌍 추가하기
a = {1 : 'a'}
a[2] = 'b'
a # {1: 'a', 2: 'b'}
a['name']='pey'
a # {1: 'a', 2: 'b', 'name': 'pey'}
a[3] = [1, 2, 3]
a # {1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

# 딕셔너리 요소 삭제하기
del a[1]
a # {2: 'b', 'name': 'pey', 3: [1, 2, 3]}

# 딕셔너리 Key를 사용해 Value 얻기1
grade = {'pey':10, 'julliet':99}
grade['pey'] # 10
grade['julliet'] # 99

# 딕셔너리 Key를 사용해 Value 얻기2
a = {1:'a', 2:'b'}
a[1] # 'a'
a[2] # 'b'

# 딕셔너리 Key를 사용해 Value 얻기3
a = {'a':1, 'b':2}
a['a'] # 1
a['b'] # 2

# 딕셔너리 Key를 사용해 Value 얻기4
dic = {'name' : 'pey', 'phone' : '010-9999-1234', 'birth' : '1118'}
dic['name'] # 'pey'
dic['phone'] # '010-9999-1234'
dic['birth'] # '1118'

# 딕셔너리 주의사항
a = {1:'a', 1:'b'}
a # {1: 'b'}

# a = {[1, 2] : 'hi'} # TypeError: unhashable type: 'list'

# Key 리스트 만들기
a = {'name' : 'pey', 'phone' : '010-9999-1234', 'birth' : '1118'}
a.keys() # dict_keys(['name', 'phone', 'birth'])
# print(a.keys()) # dict_keys(['name', 'phone', 'birth'])

# key 리스트 출력1
# for k in a.keys():
#     print(k)
# name
# phone
# birth

# key 리스트 출력2
list(a.keys()) # ['name', 'phone', 'birth']

# Value 리스트 만들기
a.values() # dict_values(['pey', '010-9999-1234', '1118'])

# Key, Value 쌍 얻기
a.items() # dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

# Key:Value 쌍 모두 지우기
a.clear()
a # {}

# Key로 Value 얻기1
a = {'name' : 'pey', 'phone' : '010-9999-1234', 'birth' : '1118'}
a.get('name') # 'pey'
a.get('phone') # '010-9999-1234'

# Key로 Value 얻기2
a = {'name' : 'pey', 'phone' : '010-9999-1234', 'birth' : '1118'}
# print(a.get('nokey')) # None
# a.get('nokey', 'foo') # 'foo'
# print(a.get('nokey', 'foo')) # foo
# print(a['nokey']) # KeyError: 'nokey'

# Key가 딕셔너리 안에 있는지 조사하기
a = {'name' : 'pey', 'phone' : '010-9999-1234', 'birth' : '1118'}
'name' in a # True
'email' in a # False

{1, 2, 3}

# 집합 자료형

In [228]:
# 집합
s1 = set([1, 2, 3])
s1 # {1, 2, 3}

s2 = set("Hello")
s2 # {'H', 'e', 'l', 'o'}

# 리스트로 변환
s1  = set([1, 2, 3])
l1 = list(s1) 
l1 # [1, 2, 3]
l1[0] # 1

# 튜플로 변환
t1 = tuple(s1)
t1 # (1, 2, 3)
t1[0] # 1



s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합
s1 & s2 # {4, 5, 6}
s1.intersection(s2) # {4, 5, 6}

# 합집합
s1 | s2 # {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1.union(s2) # {1, 2, 3, 4, 5, 6, 7, 8, 9}

# 차집합
s1 - s2 # {1, 2, 3}
s2 - s1 # {7, 8, 9}
s1.difference(s2) # {1, 2, 3}
s2.difference(s1) # {7, 8, 9}

# 집합 요소 추가하기
s1 = set([1, 2, 3])
s1.add(4)
s1 # {1, 2, 3, 4}

# 집합 요소 더하기
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1 # {1, 2, 3, 4, 5, 6}

# 집합 요소 삭제하기
s1 = set([1, 2, 3])
s1.remove(2)
s1 # {1, 3}

{1, 3}

# 불 자료형

In [233]:
# 불 자료형
a = True
b = False

type(a) # bool
type(b) # bool

1 == 1 # True
2 > 1 # True
2 < 1 # False

bool('python') # True
bool('') # False
bool([]) # False
bool(0) # False
bool(3) # True

False

In [234]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [236]:
if [1, 2, 3 ]:
    print("참")
else:
    print("거짓")

참

# 변수

In [263]:
# 파이썬에서 변수는 객체를 가리키는 것
a = [1, 2, 3]
id(a) # 1805478168320

# 동일한 주소를 가리키는 변수 - 대입
a = [1, 2, 3]
b = a
a == b # True
a is b # True
a[1] = 4
a # [1, 4, 3]
b # [1, 4, 3]

# 다른 주소를 가리키는 변수 - 슬라이싱
a = [1, 2, 3]
b = a[:]
a[1] = 4
a # [1, 4, 3]
b # [1, 2, 3]

# 다른 주소를 가리키는 변수 - copy 모듈 이용하기
from copy import copy

a = [1, 2, 3]
b = copy(a)
a == b # True
a is b # False

a = [1, 2, 3]
b = a.copy()
b == a # True
b is a # False

# 변수 선언 방법
a, b = ('python', 'life')
(a, b) = 'python', 'life'
[a, b] = ['python', 'life']
a = b = 'python'

a = 3
b = 5
a, b = b, a
a # 5
b # 3

# 서로 다른 메모리를 가리키므로 is 연산자 False
a = [1, 2 ,3]
b = [1, 2, 3]
a == b  # True
a is b # False

False